.container {width: 1400px;
            height: 900px;
        
    margin: 0 auto;}
    .prodotto1 {display: inline-block; position: relative;}
    .prodotto2 {display: inline-block; position: relative;}
    .prodotto3 {display: inline-block; position: relative;}
    .sconto {border: 1px solid green; background-color: green; position: absolute; top: 0px; right: 0px;}
    .sconto5 {border: 1px solid red; background-color: red; position: absolute; top: 0px; right: 0px;}
    .altronome {margin-bottom: 50px;}
    .cuore{
        position: absolute;
        left: 150px;
        bottom: 0px;
    }
    }
    .prodotto1 { 
        position: relative; 
        overflow: hidden; 
    } 
     
    .prodotto1 .cuore { 
        position: absolute; 
        left: 0;
        bottom: 0;
        color: red; 
        display: none; 
        width: 100%; 
        padding: 10px; 
        text-align: center;
    } 
     
    .prodotto1:hover .cuore { 
        display: block;
    }
    .cuore{
        position: absolute;
        left: 150px;
        bottom: 0px;
    }
    }
    .prodotto2 { 
        position: relative; 
        overflow: hidden; 
    } 
     
    .prodotto2 .cuore { 
        position: absolute; 
        left: 0;
        bottom: 0;
        color: red; 
        display: none; 
        width: 100%; 
        padding: 10px; 
        text-align: center;
    } 
     
    .prodotto2:hover .cuore { 
        display: block;
    }
    .cuore{
        position: absolute;
        left: 150px;
        bottom: 0px;
    }
    }
    .prodotto3 { 
        position: relative; 
        overflow: hidden; 
    } 
     
    .prodotto3 .cuore { 
        position: absolute; 
        left: 0;
        bottom: 0;
        color: red; 
        display: none; 
        width: 100%; 
        padding: 10px; 
        text-align: center;
    } 
     
    .prodotto3:hover .cuore { 
        display: block;
    }